<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Nutritional Data App</title>
    </head>
    <body>
        <h1>Video Stream</h1>
        <!-- Placeholder image -->
        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder image." id="placeholder">
        <!-- Submit form to make API call and swap placeholder with video stream -->
        <form action="/result" method="post">
            <button onclick="start_video('{{ url_for('video_feed') }}')">Scan barcode</button>
        </form>
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>