<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nothing but Nutrition!</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="bg">
        <h1><span>Nothing but Nutrition! 🍎</span></h1>
        <!-- Placeholder image -->
        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder image." id="placeholder">

        <div class="buttonsContainer">
            <!-- Submit form to make API call and swap placeholder with video stream -->
            <form action="/result" method="POST">
                <button id="scanButton" onclick="start_video('{{ url_for('video_feed') }}')">Get Scanning! 📷</button>
                <button id="manButton" type="button">Enter Barcode Manually 🔎</button>
            </form>
        </div>

        <div id="barFieldCont">
            <!-- Submit form to manual route with barcode entered in field -->
            <form action="/manual" method="POST">
                <input class="barcodeField" type="number" id="barcodeField" name="barcodeField" placeholder="Enter Barcode...">
                <button class="barFieldSub">Submit</button>
            </form>
        </div>
        
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>